<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="../static/style.css">
    <h2>"Movies Masala Manoranjan is a movie review website for your fun and entertainment<br>
        it is developed for your reviews to get a clear understanging of the movies" </h2>

        <ul>
            <li><a href="/">Home</a></li>
            </ul>
</body>
</html>