<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketsonline</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <ul>
        <li><a href="/log">Signup/Login</a></li>
        <li><a href="/about">Aboutus</a></li>
        
    </ul>
    <hr>
    <marquee behavior="scroll" direction="left">
        <img src="{{url_for('static', filename='doctor.jpg')}}" width="320" height="280"/> &nbsp; &nbsp; <img src="{{url_for('static', filename='black.jpg')}}"
            width="320" height="280"/>&nbsp; &nbsp; <img src="{{url_for('static', filename='vikram.jpg')}}" width="320" height="280"
            alt="TamilRokers" />&nbsp; &nbsp; <img src="{{url_for('static', filename='liger.jpg')}}" width="320" height="280" alt="TamilRokers" />&nbsp;
        &nbsp; <img src="{{url_for('static', filename='landscape.jpg')}}" width="320" height="280" alt="TamilRokers" />&nbsp; &nbsp; <img src="{{url_for('static', filename='john.jpg')}}"
            width="320" height="280" alt="TamilRokers" />
    </marquee>
    <h2>"welcome to Movies Masala Manoranjan" </h2>
</body>

</html>